doctype html
html(lang='ru')
  include ./head

  body(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    include ../_components/header

    block main-content

    include ../_components/footer
