script(src="/libs/js/jquery-3.6.1.min.js")
script(src="/libs/js/fancybox.umd.js")
script(src="/libs/js/splide.min.js")
script(src="/libs/js/gsap.min.js")
script(src="/libs/js/lazyload.min.js")
script(src='/libs/js/materialize.min.js')
