a.btn.js-hover-btn.hover-btn-animation(href='javascript:void(0)')
  .span
  span.descr-block__link-span About Us
    svg.descr-block__link-icon(width='20' height='20')
      use(xlink:href='./img/icons.svg#arrow-right')
