// -----------------------------------------------------------------------------
// This file contains styles that are specific to the "Index" page.
// -----------------------------------------------------------------------------
.index-page {
  background-color: antiquewhite;
  display: flex;
  max-width: rem(70px);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
button.js-hover-btn {
  width: 15rem;
  height: 5rem;
  padding: .5em 1em;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.splide__progress__bar {
  height: 3px;
  background: #ccc;
}
.splide__slide {
  height: 600px;
}
.splide__slide img,
.splide__slide svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.svg-icon--hipster-music {
  animation-duration: 3s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateY {
  0% {
    color: #ccc;
  }
  50% {
    color: tomato;
  }
  100% {
    color: #ccc;
  }
}
.title {
  animation-duration: 3s;
  animation-name: rotateY;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#progress {
  width: 100%;
  height: rem(60px);
}
