extends ../templates/layout

block main-content
  main.other-page
  - const tabs = ['Команда', 'Вакансии', 'Лицензии и сертификаты'];

    section.other-page__promo
      ._container
        h1.title Другое
        button.btn(@click='customEvent') Click
    section
      ._container
        form.form
          input.need-validation(type="text")
          input.need-validation(type="password", name="")
          button(type="submit")
    section
      ._container
        each tab in tabs
          h2=tab
