extends ./templates/layout

block main-content
  main.index-page
    section.index-page__promo.promo-index
      ._container
        h1 Main page
        img(src="/img/12.jpg" width="400" height="400" alt="Foto" loading="lazy")
