-
  const fonts = [
      'Roboto',
      'Robotomedium',
      'Robotobold',
      'latoregular',
      'latomedium',
      'latoblack'
    ]
-
  const links = [
    {
      name: 'О компании',
      path: '/about.html'
    },
    {
      name: 'Контакты',
      path: '/contacts.html'
    },
    {
      name: 'Другое',
      path: '/other.html'
    }
  ]
-
  const projects = [
    {
      name: 'Архитектурно-планировочная концепция концертного комплекса в Краснодаре',
      img: 'project_01.jpg'
    },
    {
      name: 'Изменения в схему территориального планирования Кингисеппского муниципального района',
      img: 'project_02.jpg'
    },
    {
      name: 'Проект планировки и межевания территории в юго-восточной части поселка Усть-Луга',
      img: 'project_03.jpg'
    }
  ]

-
  const projectsCategory = [
    {
      name: 'Все проекты',
      value: 'all'
    },
    {
      name: 'Схемы территориального планирования',
      value: 'schemes'
    },
    {
      name: 'Правила землепользования и застройки',
      value: 'rules'
    },
    {
      name: 'Генеральные планы',
      value: 'genplans'
    },
    {
      name: 'Концепции',
      value: 'concepts'
    },
    {
      name: 'Проекты планировки и межевания территории',
      value: 'territories'
    },
    {
      name: 'Архитектурно-строительное проектирование',
      value: 'architects'
    },
    {
      name: 'Кадастровые и землеустроительные работы',
      value: 'cadastr'
    }
  ]

-
  const jobs = [
    'схемы территориального планирования,',
    'правила землепользования и застройки,',
    'генеральные планы,',
    'архитектурно-градостроительные концепции,',
    'документация по планировке территории,',
    'архитектурно-строительное проектирование,',
    'кадастровые и землеустроительные работы,',
    'ГИС (геоинформационные системы),',
    'инженерно-геодезические изыскания',
  ]

-
  const advantages = [
    {
      title: 'Высокое качество исполнения работ',
      iconSrc: 'advantage_01',
      width: 153,
      height: 153
    },
    {
      title: 'Соблюдение сроков',
      iconSrc: 'advantage_02',
      width: 164,
      height: 131
    },
    {
      title: 'Индивидуальный подход',
      iconSrc: 'advantage_03',
      width: 139,
      height: 171
    },
    {
      title: 'Команда специалистов',
      iconSrc: 'advantage_04',
      width: 161,
      height: 175
    },
    {
      title: 'Богатый опыт работы',
      iconSrc: 'advantage_05',
      width: 178,
      height: 178
    },
    {
      title: 'Обширная география проектов',
      iconSrc: 'advantage_06',
      width: 191,
      height: 127
    },
    {
      title: 'Реализация сложных задач',
      iconSrc: 'advantage_07',
      width: 164,
      height: 164
    },
    {
      title: 'Членство в СРО',
      iconSrc: 'advantage_08',
      width: 161,
      height: 87
    }
  ]

- const tabs = ['Команда', 'Вакансии', 'Лицензии и сертификаты']

-
  const team = [
    {
      name: 'Павел Павлович Спирин',
      post: 'Генеральный директор, советник РААСН, кандидат географических наук, доцент',
      img: 'spirin.jpg'
    },
    {
      name: 'Ирина Валентиновна Попова',
      post: 'Заместитель генерального директора',
      img: 'popova.jpg'
    },
    {
      name: 'Дмитрий Анатольевич Парфенов',
      post: 'Заместитель генерального директора по кадастровому обеспечению',
      img: 'parfenov.jpg'
    },
    {
      name: 'Елена Павловна Смищук',
      post: 'Финансовый директор',
      img: ''
    },
    {
      name: 'Светлана Исмагиловна Садретдинова',
      post: 'Начальник отдела кадров',
      img: 'sadretdinova.jpg'
    },
    {
      name: 'Ирина Сергеевна Бутримова',
      post: 'Начальник отдела землеустроительных, кадастровых и оценочных работ',
      img: 'butrimova.jpg'
    }
  ]
-
  const contacts = {
    phone: {
      name: 'Телефон',
      value: 'tel:+781262768',
      text: '+7 (812) 627-17-68',
      icon: 'phone'
    },
    email: {
      name: 'Почта',
      value: 'mailto:mail@npi-agi.ru',
      text: 'mail@npi-agi.ru',
      icon: 'email'
    },
    address: {
      name: 'Адрес',
      value: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      text: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      icon: 'address'
    }
  }
