// -----------------------------------------------------------------------------
// This file contains animations.
// -----------------------------------------------------------------------------
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateY {
  0% {
    color: #ccc;
  }
  50% {
    color: tomato;
  }
  100% {
    color: #ccc;
  }
}
